* {
    margin: 0;
    padding: 0;
  }
  
  /* .landing {
    font-family: Arial, Helvetica, sans-serif; 
    background: url("./images/aram1.gif");
    background-size: 1100px 540px;
    background-repeat: no-repeat; 
    color: #fff;
    height: 100vh;
    width:100%;
    line-height: 1.6;
    text-align: center;
  } */
  
  .container {
    max-width: 960px;
    margin: auto;
    padding: 0 30px; 
  }
  .container2 {
    max-width: 960px;
    margin: auto;
    padding: 0 30px; 
  }
  
  #neon {
    height: 200px;
  }
  
  #neon h1 {
    font-size: 80px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes heading {
    0% {
      top: -50px;
    }
    100% {
      top: 125px; 
    }
  }
  
  #content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes content {
    0% {
      left: -1000px;
    }
    100% {
      left: 0;
    }
  }
  
  .btn-landing {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    margin-top: 40px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
    width: 150px;
  height:50px;
  border-radius:180px;
  position: absolute;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg,  #ef4e7b, #a166ab);
  cursor:pointer;
  line-height:12px;
  }

  .btn-landing:before {
    content:'';
    z-index:1;
    position:absolute;
    display:block;
    width:80%;
    height:70%;
    top:15%;
    left:10%;
    transition: 0.3s opacity ease-in-out;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }

  .btn-landing:hover:before {
    opacity:1;
    transition: 0.3s opacity ease-in-out;
    filter:blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
  }
  .btn-landing:after {
    content:'Check it out';
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:rgba(235,235,235,1);
    font-family:'Verdana';
    font-weight:bold;
    z-index:5;
    position:absolute;
    display:block;
    border-radius:180px;
    width:92%;
    height:80%;
    top:10%;
    left:4%;  
    background-color:rgb(19, 20, 22);
  }  
  
  
  
  @keyframes btn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #neon {
    font-family: 'Permanent Marker', cursive;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
}
  
  
#neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}


@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: rgb(255, 17, 215);
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #816bcf;
  }
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

/* heading section */
h1,h3,h4 {
  color: #fff;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #1be8b9;
    font-size: 2vw;
    /*-webkit-text-stroke: 2px black;*/
    /* line-height: 9vw; */
    text-shadow: 7px -1px 0vw #ff2e8f;
}

h2 {
  font-size: 30px;
    position: relative;
    font-family: 'Permanent Marker', cursive;
    font-variant:small-caps;
    background-image: linear-gradient(#000000 100%, #cc337a 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    filter: drop-shadow(2px 2px 20px #f008b7);
}

/* images retina */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 3px solid #000000bf;
  border-radius: 10%;

}



/* home section */
#home {
  background: url('./images/Astro2.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 180px;
  padding-bottom: 100px;
}
#home h1,
#home h3 {
  line-height: 30px;
  font-size: 40px;
}

.victory {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 180px;
  -webkit-transform: skew(-15deg,-15deg);
  padding-left: 80px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}


.victory:before {
  /*content: '-';*/
  position: absolute;
  bottom: -98px;
  left: 254px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
  text-shadow: 70px -7px #F3C8F3;
}

.victory:after {
  /*content: '-';*/
  position: absolute;
  bottom: -85px;
  left: 395px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-text-stroke: 2px black;
  -webkit-background-clip: text;
  text-shadow: 70px -5px #F3C8F3;
}

.victory-v {
  position: relative;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
  padding-right: 18px;
  margin-right: -18px;
}

.victory-v:before {
  content: '-';
  position: absolute;
  top: -71px;
  left: -71px;
  -webkit-text-stroke: 2px black;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
  -webkit-background-clip: text;
}

.victory-v:after {
  content: '-';
  position: absolute;
  top: -72px;
  left: 103px;
  -webkit-text-stroke: 2px black;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
  -webkit-background-clip: text;
}

/* divider section */
.divider {
  color: #fff;
  text-align: center;
}
.divider .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-transform: capitalize;
}
.divider h2 {
  padding-bottom: 4px;
}
.divider .divider-wrapper {
  padding: 40px 20px 40px 20px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}
.divider .divider-wrapper:hover {
  bottom: 60px;
  cursor: pointer;
}
.divider .divider-one {
  background: #950fb7;
}
.divider .divider-two {
  background: #009988;
}
.divider .divider-three {
  background: #ffa500;
}



.astro{
  height: 320px;
}

.title3 {
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 800;
  font-size: calc(20vw / var(--word-total) ); /* Overriden below for fluid typography test */
  line-height: 1.0;
  letter-spacing: -0.03em;
  transform: perspective(100px) scaleY(1.5) scaleX(0.5) rotateX(-20deg);
  transform-style: preserve-3d; /* Important for establishing a shared 3D space for all the layers */
  --layer-depth: 0.32em;
}







/* media 960 */
@media ( max-width: 980px ) {
  .divider .divider-wrapper {
    margin-bottom: 20px;
  }
  #about .about-des {
    padding-bottom: 40px;
  }
  #team .team-wrapper {
    margin-bottom: 40px;
  }
}

@media ( max-width: 980px ) {
  .victory .victory-v {
    margin-bottom: 20px;
  }
  #about .about-des {
    padding-bottom: 40px;
  }
  #team .team-wrapper {
    margin-bottom: 40px;
  }
}



  