body{
  background: -webkit-radial-gradient(#ffa000, #ae0bbd);
  background: radial-gradient(#ffa000, #ae0bbd);
    color: #ffffff;
    height:100%;
}
.background{
  background: linear-gradient(to bottom left, #151313 40%, #ee0da3de 100%);
  color: #060202;
  height:100%;
  
}


.card-body img {
    vertical-align: middle;
    border: 3px solid #000000bf;
    border-radius: 6%;
}

img{
    vertical-align: middle;
    border: 3px solid #000000bf;
    border-radius: 50%; 
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(253, 253, 253, 0);
}
.card-body {
    padding: 1rem;
    background: linear-gradient(to bottom left, #b8136582 31%, #1befc7fc 100%);
    border: 2px solid #232d23c7;
    border-radius: 5%;
  }

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff00;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

element.style {
    background-color: #90318abf !important;
}

/* .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom left, #151313 40%, #2b071ec9 100%);
    border-radius: .3rem;
    background-size: cover;
    height: 50vh;
    width: 100%;
} */
.outlaw {
  color: #fff;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #1be8b9;
    font-size: 2vw;
    -webkit-text-stroke: 2px black;
    /* line-height: 9vw; */
    text-shadow: 7px -1px 0vw #ff2e8f;
}
/* neon */
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.neon {
    font-family: 'Permanent Marker', cursive;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    -webkit-text-stroke: 2px black;
}
  
.flux {
    font-family: 'Permanent Marker', cursive;
    color: #426DFB;
    font-size: 7vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    -webkit-text-stroke: 2px black;
}
  
.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

.card-title{
    color: #fff;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  color: #1be8b9;
    font-size: 2vw;
    -webkit-text-stroke: 2px black;
    /* line-height: 9vw; */
    text-shadow: 7px -1px 0vw #ff2e8f;
}
.card-title{
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}
.btn-card{
  width: 150px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg,  #ef4e7b, #a166ab);
  cursor:pointer;
  line-height:12px;
}
.btn-card:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
.btn-card:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}
.btn-card:after {
  content:'Book';
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:rgba(235,235,235,1);
  font-family:'Verdana';
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
  background-color:rgb(19, 20, 22);
}  

  @keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: rgb(255, 17, 215);
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #816bcf;
    }
  }

  @keyframes card-title {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: rgb(255, 17, 215);
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #816bcf;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  


